body{
    margin: 0;
    padding: 0;
    background-image: url(bckgrndTD.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#toDo{
   background-color: rgb(243, 247, 247);
   padding: 20px;
   border-radius: 10px;
   width: 300px;
   
}

/* button{
    border-radius: 6px;
cursor: pointer;
} */

#inputBox{
width: 100%;
padding: 12px;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius: 10px;
font-size: 16px;
margin-bottom: 10px;
/* outline: none; */
/* transition: 0.2s ease */

}
#addTaskbtn{
width: 100%;
padding: 12px;
background-color: rgb(127, 126, 127);
border-radius: 6px;
font-size: 16px;
cursor: pointer;

} 